/*index.css*/
h2 {
    color: blue;
    text-align: center;
    font-family: 'Schoolbell', cursive;
  }

.gameTitle {
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
}

#equation {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 50px;
}

h3 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

.answerForm {
  text-align: center;
}

h4 {
  color: white;
  margin-top: 80px;
}

.rules {
  margin-top: 50px;
}

body {
 background-color: rgb(63, 76, 63);
 
 height: 100%;

}

div.main.col-xs-12 {
  border-color: rgb(93, 65, 31);
 border-style: double;
 background-color: rgb(36, 36, 36);
}

/* .container {
  background-image: url(./images/—Pngtree—fresh\ chalkboard\ stationery\ ad\ background_970707.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: brown;
  width: 100%;
} */

.containerEquations {
  text-align: center;
  padding-top: 35px;
  color: aliceblue;
}